body{
    background-color: aquamarine;
    height: 100vh;
    width:100vw;
}
main {
    margin-left:auto;
    margin-right:auto;
}
.tile {
    width: 50px;
    height: 50px;
    float: left;
}
.tile-space{
    background-color:sandybrown;  
}
.tile-wall{
    background-image:url("../images/wall.png");
}
.tile-goal{
    background-color:gold; 
}

.entity-block{
    background-image:url("../images/box.png");
    background-size: contain;
    
}    
.entity-block-goal{
    background-image:url("../images/boxHome.png");
    background-size: contain;
}

.entity-player-idle-up{
    background-image:url("../images/avatar_idle_up.gif");
    background-size: contain;
}
.entity-player-idle-left{
    background-image:url("../images/avatar_idle_left.gif");
    background-size: contain;
}
.entity-player-idle-down{
    background-image:url("../images/avatar_idle_down.gif");
    background-size: contain;
}
.entity-player-idle-right{
    background-image:url("../images/avatar_idle_right.gif");
    background-size: contain;
}
.entity-player-right{
    background-image:url("../images/avatar_right.gif");
    background-size: contain;
}
 .entity-player-left{
        background-image:url("../images/avatar_left.gif");
        background-size: contain;
 }
 .entity-player-up{
    background-image:url("../images/avatar_up.gif");
    background-size: contain;
}
.entity-player-down{
    background-image:url("../images/avatar_down.gif");
    background-size: contain;
}


